@import '../../assets/functionSass/index';

.headerItemContent{
    padding-bottom: 70px;

    h2{
        @include stylingFont("poppins regular", 23px, $colorBlack);
        padding-bottom: 10px;
    }

    p{
        @include stylingFont("poppins light", 14px, $colorBlack);
    }
}

/* for tablet */
@media screen and (max-width: 1000px){
    .headerItemContent{
        padding-bottom: 50px;
    }
}

/* for smartphone */
@media screen and (max-width: 693px){
    .headerItemContent{
        padding-bottom: 50px;

        h2{
            font-size: 22px;
            padding-bottom: 5px;
        }

        p{
            font-size: 13px;
        }
    }
}