@import '../../assets/functionSass/index';

#top-header{
    width: 100%;
    @include stylingContent3(space-between);
    padding: 0px 50px;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(50, 56, 70, 0.1);
    position: sticky;
    top: 0;
    z-index: 99;

    h2{
        flex-basis: 8%;
        @include stylingContent5(center);
        @include stylingFont("poppins medium", 19px, $colorBlack);
    }
}

nav{
    flex-basis: 85%;
    @include stylingContent3(flex-end);

    li{
        display: inline-block;
        padding: 25px 0px 25px 30px;
    }
}

.linkHeader{
    @include stylingFont("poppins light", 14px, $colorBlack);
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover{
        font-family: "poppins regular";
    }
}

#menu{
    display: none;

    img{
        width: 20px;
    }
}

/* for smartphone */
@media screen and (max-width: 693px){
    #top-header{
        padding: 0px 25px;
        flex-wrap: wrap;
    }

    #menu{
        flex-basis: 5%;
        @include stylingContent3(flex-end);
        padding: 25px 0px;
    }

    nav{
        flex-basis: 100%;
        display: none;

        ul{
            flex-basis: 100%;
            @include stylingContent2(column);
        }

        li{
            flex-basis: 100%;
            @include stylingContent4(column, center, center);
            padding: 0px;
        }
    }

    .linkHeader{
        padding: 20px 100%;

        &:hover{
            background-color: $colorRed;
            color: white;
        }
    }

    nav.show{
        display: flex;
    }
}