@font-face{
    font-family: "poppins semi";
    src: url("../../assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: "poppins light";
    src: url("../../assets/fonts/poppins/Poppins-Light.ttf");
}

@font-face{
    font-family: "poppins medium";
    src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face{
    font-family: "poppins regular";
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}